@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 2.5rem;
    line-height:1.05;
    text-align: left;
}
h2 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
}
h3 {
    margin: 0.625rem;
}
p {
    font-size:1.125rem;
    line-height: 1.2;
}

.quiz {
    width: 600px;
    /* center it */
    margin: 0 auto;
}



.question-title {
    width: 37.5rem;
    height: 13.125rem;
    background-color: rgb(102, 69, 221);
    border-radius: 0.313rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.questions-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1.438rem 0;
    justify-content: space-between;
}
.question-block {
    width: 17.875rem;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
    padding: 0;
    text-align: center;
    margin-bottom:0.938rem;
    overflow: hidden;
    border: none;
}
.question-block p {
    font-size: 0.688rem;
    font-style: italic;
}
.question-block a {
    color:rgb(150, 150,150)
}
.answer-block {
    width: 37.5rem;
    background-color: rgb(255,61,158);
    border-radius: 0.313rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.answer-block h2 {
    font-size: 1.5rem;
    margin: 2rem;
    color:white;
    text-align: justify;
}

.answer-block img {
    width: 90%;
}

.landing {
 /* Start on the middle of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.landing h1 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
    width: 100%;
    height: 13.125rem;
    background-color: rgb(102, 69, 221);
    border-radius: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.landing h2 {
    font-size: 3.5rem;
    line-height: 1.05;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.landing button {
    font-size: 3.5rem;
    line-height: 1.05;
    width: 20rem;
    border-radius: 5rem;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 69, 221);
    border: none;
    padding: 1rem;
    /* Center the button to the middle of the page */
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.landing a {
    /* No decoration */
    text-decoration: none;
}

.landing-card {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10rem;
    border-radius: 5rem;
}